body{
    background-color: teal;
}

p{
    font-style: italic;
    text-decoration: solid;
}
.car li{
    display: inline;
    padding-right: 35px;
    margin-left: 40px;
}
.car li + li + li + li {
    margin-right: 30px ;
}

header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 img:hover{
     border: 5px solid red;
 }
