body{
    background-color:limegreen;
}

p{
    font-style: italic;
    text-decoration: solid;
}
.dogs li{
    display: inline;
    padding-right: 35px;
    margin-left: 40px;
}
.dogs li + li + li + li {
    margin-right: 70px ;
}

header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img:hover{
    border: 5px solid brown;
}