body{
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 360px;
}
.btn{
    padding: 10px 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin: 10px;
}
.btn1{
    background-color: rgb(55, 55, 211);
    border: 1px solid;
    color: white;
    border-radius: 5px;
}
.btn2{
    background-color: rgb(255, 254, 254);
    color: gray;
    border: 1px solid;
    border-radius: 5px;
}
.btn3{
    background-color: rgb(255, 255, 255);
    color: rgb(162, 154, 154);
    border: 2px dashed;
    border-radius: 5px;
}
.btn4{
    background-color: rgb(237, 233, 233);
    border: 1px solid gray;
    color: red;
    border-radius: 5px;
}