*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    height: 1700px;

}
.dot{
    color: aqua;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    margin: 40px;
    color: rgb(62, 61, 61);
    margin-bottom: 13px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: gray;
    line-height: 22px;
    margin-left: 39px;
    margin-bottom: 21px;
 
}
.list-item ul{
    display: inline-block;
    margin-left: 25px;
    width: 320px;
    height: 155px;
}
.list-item ul:not(:first-child){
    margin-left: 75px;
}
.list-item li{
    position: relative;
    left: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    list-style: none;
    line-height: 30px;
    color: gray;

}
.list-item span{
    margin-left: 45px;
}

.list-item ul li::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 7px;
    left: 7px;
    background-color: #34495E;
    border-radius: 2px;
}
.list-item ul:nth-child(2) li::before{
    background-color: white;
    border: 1px solid #707070;
    box-sizing: border-box;
}
.header{
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    margin: 40px;
    color: rgb(62, 61, 61);
    margin-bottom: 10px;
    margin-top: 33px;
}
.bottom{
    margin-bottom: 30px;
}
.placeholder{
    width: 1150px;
    height: 190px;
    background-color: #ECF0F1;
    margin-left: 39px;
    margin-bottom: 30px;
    border-radius: 3px;

}
.placeholder p{
    margin: 0 0 0 32px;
    padding-top: 24px;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
}
.placeholder p span{
    text-indent: 15px;
    display: inline-block;
    color: #A1B1BC;
}

.main{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: gray;
    line-height: 22px;
    margin-left: 39px;
    margin-bottom: 25px;

}
.content{
    width: 370px;
    height: 400px;
    background-color: #ECF0F1;
    float: left;
    margin-left: 40px;

}
.footer{
    position: relative;
    left: 30px;
    margin-bottom: 25px;
}
.footer1{
    padding-top: 4px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.footer2{
    position: relative;
    left: 30px;
    padding-bottom: 5px;
}
.container2{
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ECF0F1;
    width: 1170px;
    height: 50px; 
    margin-top: 48px;
    display: flex;
    margin-left: 34px;
    margin-bottom: 35px;
}
.boxer{
    width: 50px;
    height: 50px;
    margin-top: -1px;
    background-color: #34495E;
    text-align: center;
    color: white;
    font-size: 28px;
    line-height: 46px;
}

.container2 p{
    margin-top: 13px;
    margin-left: 23px;
    padding-left: 4px;
    font-size: 14px;
    line-height: 20px;
    word-spacing: 3px;
}

a{
    color: rgb(111, 164, 111);
}
.last{
    width: 1170px;
    height: 160px;
    background-color: rgba(236, 240, 241, 30%);
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 2px;
    border: 1px solid #ECF0F1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.last-icon{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 3px solid #FFFFFF;
    background-color: #A1B1BC;
    box-shadow: 0 0 5px gray;
}
.last-text{
    width: 980px;
}
.last-text h3{
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 18px;
    color: #2C3E50;
    margin: 0;
}
.last-text h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 24px;
    font-size: 14px;
    color: #A1B1BC;
    margin: 0;
}
.last-text p{
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    margin: 10px 0 0 0;
}


