*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 450px;
    margin: 30px auto;
}
.flex{
    display: flex;
}

.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}

.cube1{
    width: 180px;
    height: 120px;
    background-color: red;
}
.cube2{
    width: 200px;
    height: 120px;
}
.cell{
    border: 1px solid;
}

.cube3{
    width: 180px;
    height: 80px;
}
.cube4{
    width: 200px;
    height: 80px;
}
.cube5{
    width: 25px;
    height: 130px;
    background-color: yellow;
}
.cube6{
    width: 155px;
    height: 130px;
}
.cube7{
    width: 110px;
    height: 110px;
    background-color: rgb(50, 50, 128);
}
.cube8{
    width: 90px;
    height: 130px;
}
.cube9{
    width: 110px;
    height: 20px;
}
.col1{
    display: flex;
    flex-direction: column;
}

