*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 400px;
    height: 450px;
    margin: 25px auto;

}
div{
    border: 1px solid;
}
.left{
    float: left;
}
.cube1{
    width: 45%;
    height: 40%;
    background-color: red;
}
.right{
    float: right;
}
.cube2{
    width: 55%;
    height: 40%;
}
.cube3{
    width: 45%;
    height: 20%;
}
.cube4{
    width: 55%;
    height: 20%;
}
.cube5{
    width: 5%;
    height: 40%;
    background-color: yellow;
}
.cube6{
    width: 32%;
    height: 40%;
}
.cube7{
    width: 30%;
    height: 37%;
    background-color: rgb(50, 50, 128);
}
.cube8{
    width: 33%;
    height: 40%;
}
